.headContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.imageContainer{
    width: 30px;
    overflow: hidden;
    border-radius: 15px;
   
}


.cardContainer{
    
    width: 98%;
    overflow: hidden;
    margin: 15px 0px;
    padding: 5px;
}
.commentContainer{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}